<section class="tech-radar tech-radar-summary">
<div class="row">
  <% @radar.quadrants.each do |quadrant| %>
    <div class="col-md-3">
      <h1 class="h3"><%= t("tech_radar.radar.quadrants.#{quadrant.name}.title") %></h1>
    </div>
  <% end %>
</div>
<% @radar.rings.each do |ring| %>
  <article class="panel panel-<%= label_color_for_ring(ring.name) %>">
    <div class="panel-heading">
      <%= t("tech_radar.radar.rings.#{ring.name}.title") %>
    </div>
    <div class="panel-body">
      <div class="row">
        <% @radar.quadrants.each do |quadrant| %>
          <div class="col-md-3">
            <p>
              <% ring.technologies.select { |technology| technology.quadrant == quadrant.name }.each_with_index do |technology,i| %>
                <% if i != 0 %>
                  &middot;
                <% end %>
                <%= link_to technology.name, technology_path(technology.name) %> 
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </article>
<% end %>
</section>
