<!DOCTYPE html>
<html>
<head>
  <title>TechRadar</title>
  <%= stylesheet_link_tag    "tech_radar/application", media: "all" %>
  <%= javascript_include_tag "tech_radar/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
